.page {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 767px;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1200px;
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: 1px solid transparent;
}

.button:hover, .button:focus {
  color: #2196f3;
  background: #ffffff;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1140px) {
  .title {
    margin: 0 0 30px 0;
  }
}

@media screen and (min-width: 1140px) {
  .title {
    margin: 0 0 50px 0;
  }
}

.no-margin {
  margin: 0px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 80px;
    padding: 16px 0;
  }
}

@media screen and (min-width: 1140px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 305px;
    padding: 32px 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 85px;
    padding: 16px 0;
  }
}

.header-icon-size {
  width: 160px;
  height: 30px;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav-item + .nav-item {
    margin-left: 50px;
  }
}

.current-link::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0px;
  top: 40px;
  -webkit-transform: translateY(900%);
          transform: translateY(900%);
  height: 4px;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
}

.current-link {
  color: #2196f3;
}

.menu-container {
  z-index: 7;
  background-color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
  }
}

.menu-container.is-open {
  display: block;
}

.menu-button .icon-closeburger {
  display: none;
}

.menu-button.is-open .icon-closeburger {
  display: block;
}

.menu-button.is-open .icon-burger {
  display: none;
}

.navigation-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .navigation-container {
    height: 60px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .navigation-container {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1140px) {
  .navigation-container {
    min-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .navcontacts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-button {
  border: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:active {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.mob-menuicon {
  height: 20px;
  width: 20px;
}

header {
  border: 1px solid #ececec;
  position: relative;
}

.email-style {
  color: #757575;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1140px) {
  .email-style {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 767px) {
  .email-style {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 1140px) {
  .email-style {
    margin-right: 30px;
  }
}

.email-style:hover, .email-style:focus {
  color: #2196f3;
  fill: #2196f3;
}

.email-text {
  margin-left: 8px;
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .email-text {
    display: inline-block;
    margin-bottom: 16px;
  }
}

.phonenumber-style {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.phonenumber-style {
  color: #757575;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phonenumber-style:focus, .phonenumber-style:hover {
  color: #2196f3;
  fill: #2196f3;
}

.features .title {
  display: none;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1140px) {
  .features-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.features-icon-bcg {
  text-align: center;
  padding: 25px 0;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .list .item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1140px) {
  .list .item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.customers-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.customer-logo-pic {
  -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
      flex-basis: calc((100% - 4 * 15px) / 2);
  height: 90px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .customer-logo-pic {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1140px) {
  .customer-logo-pic {
    -ms-flex-preferred-size: calc((100% - 12 * 15px) / 6);
        flex-basis: calc((100% - 12 * 15px) / 6);
  }
}

.customer-logo-pic:focus, .customer-logo-pic:hover {
  border: 1px solid #2196f3;
}

.customers-link {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover, .customers-link:focus {
  fill: #2196f3;
}

@media screen and (max-width: 768px) {
  .works {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .works {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1140px) {
  .works .title {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
  }
}

.work-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-item {
  position: relative;
}

.work-img {
  display: block;
}

.work-item + .work-item {
  margin-left: 30px;
}

.work-name {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0px;
  width: 370px;
  height: 70px;
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 768px) {
  .team-content {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1140px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 50px;
  }
}

.team {
  background-color: #f5f4fa;
}

.team-item {
  margin-right: auto;
  margin-left: auto;
  display: block;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .team-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 1140px) {
  .team-img {
    width: 100%;
  }
}

/* ------------teammates names -------------  */
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}

/* ----------------temmates proffession dsc------------- */
.team-text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  margin: 4px;
}

.social {
  padding-top: 16px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer {
  display: block;
  width: 100%;
  background-color: #2f303a;
}

.footer-container {
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 768px;
    padding: 60px 0;
  }
}

@media screen and (min-width: 1140px) {
  .footer-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 1200px;
  }
}

.logo-footer {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .logo-footer {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .logo-footer {
    width: 50%;
  }
}

@media screen and (min-width: 1140px) {
  .logo-footer {
    width: 231px;
    margin-right: 69px;
  }
}

.phys-address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 8px;
}

.adress {
  color: #757575;
  font-style: normal;
  display: inline-block;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .subscribe-container {
    width: 50%;
  }
}

@media screen and (min-width: 1140px) {
  .subscribe-container {
    width: 206px;
    margin-right: 94px;
  }
}

.subscribe-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-icon-size {
  width: 160px;
  height: 30px;
  margin-bottom: 20px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.suscribe-form {
  display: block;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .suscribe-form {
    padding: 60px 15px 0px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1140px) {
  .suscribe-form {
    width: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1140px) {
  .mail-subscribe {
    width: 100%;
  }
}

.footer-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
}

.footer-field input {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

@media screen and (min-width: 1140px) {
  .footer-field input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-field {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing {
  margin-bottom: 20px;
}

.footer-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
  height: 50px;
  min-width: 220px;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1140px) {
  .footer-btn {
    margin-top: 20px;
  }
}

.footer-btn::after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/send.svg);
  background-size: contain;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-mob@2x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-mob@2x.jpg);
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: #212121;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-tab@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-tab@2x.jpg);
  }
}

@media screen and (min-width: 1140px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-desctop@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-desctop@1x.jpg);
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1140px) {
  .hero-title {
    font-size: 44px;
    line-height: 60px;
  }
}

.cotainer-hero {
  padding-top: 200px;
}

.filter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .filter {
    max-width: 500px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1140px) {
  .filter {
    padding-top: 90px;
  }
}

.filter-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter-lable {
  padding: 10px 32px;
  background-color: #f5f4fa;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-lable:focus,
.filter-lable:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.filter-lable {
  margin-right: 8px;
}

.filter-lable:last-child {
  margin-right: 0;
}

.filter-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-notitle {
  display: none;
}

.portfolio-item {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-item:nth-child(even) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1140px) {
  .portfolio-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-item:nth-child(even) {
    margin-right: 30px;
  }
  .portfolio-item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-item:nth-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio-item:hover {
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}

.portfolio-img:hover .portfolio-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-dsc {
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.portfolio-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.portfolio-type {
  margin-top: 4px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  z-index: 8;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0.1);
          transform: translate(-50%, -50%) rotate(0deg) scale(0.1);
}

.modal {
  z-index: 66;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
          transform: translate(-50%, -50%) rotate(360deg) scale(1);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
}

.close-button:hover,
.close-button:focus {
  fill: #2196f3;
}

.callback-form {
  padding: 40px;
}

@media screen and (max-width: 767px) {
  .callback-form {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .callback-form {
    width: 450px;
  }
}

@media screen and (min-width: 1140px) {
  .callback-form {
    min-width: 528px;
  }
}

.form-tittle {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-lable {
  position: absolute;
  top: 30%;
  left: 42px;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 10px;
}

.form-field input {
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
}

.form-input:focus + .form-lable {
  -webkit-transform: translateY(-250%) translateX(-42px);
          transform: translateY(-250%) translateX(-42px);
  color: color #757575;
}

.form-input:focus + .form-lable,
.form-input:not(:placeholder-shown) + .form-lable {
  -webkit-transform: translateY(-250%) translateX(-42px);
          transform: translateY(-250%) translateX(-42px);
}

textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

textareatextarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}

textareatextarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}

textareatextarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}

textareatextarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-input:focus ~ .modal-icon {
  fill: #2196f3;
}

.policy-field {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.policy-field .policy-link {
  text-decoration: underline;
  color: #2196f3;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-icon {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/checkbox-frame.svg);
  margin-right: 8px;
}

.checkbox:checked + .checkbox-icon {
  background-image: url(../images/checked-checkbox.svg);
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit-btn {
  margin-top: 30px;
}

.mailing-agreement {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */