// .features-list {
//   display: flex;
//   justify-content: center;
// }
/* FEATURES ICONS */
.features-icon-bcg {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;

  // background-color: $bcg-alternativecolor;
}
// .features-icon {
//   width: 70px;
//   height: 70px;
// }
// .features-list .item {
//   margin-right: 30px;
// }
// .features-list .item:last-child {
//   margin-right: 0px;
// }

// .features .title {
//   display: none;
// }

/* FETURES ICONS */

// /* features title*/
// .features-title {
//   margin-bottom: 0px;
//   margin-top: 10px;

  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.1;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;
}
/* features text dsc */
// .features-text {
//   margin-bottom: 0px;
//   margin-top: 10px;

//   color: $secondary-textcolor;

//   font-size: 14px;
//   line-height: 1.7;
//   letter-spacing: 0.03em;
// }
