.footer {
  background-color: #2f303a;
}
// ---------FOOTER CONTAINER POSITIONING---
.footer-container {
  max-width: 1230px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
// ----------FOOTER LOGO SIZE-----
.logo-footer {
  min-width: 267px;
}
// ----ADRESS SECTION POSITIONING---
.address {
  display: flex;
}
//---PHYSICAL ADDRESS DECORATION-----
.phys-address {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 20px;
  font-style: normal;

  color: $alternative-textcolor;
}
// ----MAIL AND TELEPHONE N DECORATIO----
.adress {
  margin-bottom: 0px;
  margin-top: 9px;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;

  color: $secondary-textcolor;

  font-style: normal;
}
// -----SUBSCRIBE CONTAINER POSITIONING-----
.subscribe {
  &-container {
    flex-direction: column;
    display: flex;

    margin-left: 30px;
    min-width: 272px;
  }
  &-title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;

    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $alternative-textcolor;
  }
}
// --------FOOOTER SOCIAL LINK POSITIONING AND DECOR-------------------
.footer-social {
  display: flex;
}
.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: $accent-color;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
// ----FOOOTER FORM-----
.mail-subscribe {
  width: 100%;
}
.footer-field {
  display: flex;
  flex-direction: column-reverse;
}
.suscribe-form {
  display: flex;
  align-items: baseline;
}
.footer-field input {
  margin-top: 20px;
  padding: 16px 15px;
  width: 385px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}
.footer-field {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $alternative-textcolor;
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;

  height: 50px;
  min-width: 200px;

  margin-left: 12px;

  color: $alternative-textcolor;
  background: $accent-color;
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 1.8;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.footer-btn::after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/send.svg);

  background-size: contain;
}
