// @media screen and(min-width:768px) {
//     flex-basis: calc((100% - 4 * 15px) / 2);
//     margin: 15px;
//   }
//   @media screen and(min-width:1140px) {
//     flex-basis: calc((100% - 3 * 30px) / 4);
//   }

.footer {
  display: block;
  width: 100%;
  background-color: #2f303a;
}
.footer-container {
  padding: 60px 0px;

  margin-left: auto;
  margin-right: auto;
  min-width: 480px;
  @media screen and(max-width:768px) {
    margin-top: 60px;
  }
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
  }
  @media screen and(min-width:1140px) {
    flex-wrap: nowrap;
    max-width: 1200px;
  }
}
.logo-footer {
  text-align: center;
  @media screen and(max-width:768px) {
    margin-bottom: 60px;
  }
  @media screen and(min-width:768px) {
    width: 50%;
  }
  @media screen and(min-width:1140px) {
    width: 231px;
    margin-right: 69px;
  }
}

//---PHYSICAL ADDRESS DECORATION-----
.phys-address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  font-style: normal;

  color: $alternative-textcolor;

  display: inline-block;
  margin-bottom: 8px;
}
// ----MAIL AND TELEPHONE N DECORATIO----
.adress {
  color: $secondary-textcolor;

  font-style: normal;

  display: inline-block;
  margin-bottom: 8px;
}

// -----SUBSCRIBE CONTAINER POSITIONING-----
.subscribe {
  &-container {
    @media screen and(min-width:768px) {
      width: 50%;
    }
    @media screen and(max-width:768px) {
    }
    @media screen and(min-width:1140px) {
      width: 206px;
      margin-right: 94px;
    }
  }
  &-title {
    text-align: center;

    font-weight: 700;

    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $alternative-textcolor;
  }
}

.footer-icon-size {
  width: 160px;
  height: 30px;

  margin-bottom: 20px;
}

// --------FOOOTER SOCIAL LINK POSITIONING AND DECOR-------------------

.footer-social {
  display: flex;
  justify-content: center;
}
.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: $accent-color;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

// ----FOOOTER FORM-----
.suscribe-form {
  display: block;
  text-align: center;

  min-width: 450px;

  @media screen and(max-width:1140px) {
    padding: 60px 15px 0px 15px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and(min-width:1140px) {
    width: 570px;
    display: flex;
    flex-direction: row;

    align-items: baseline;
  }
}
.mail-subscribe {
  @media screen and(max-width:767px) {
    min-width: 480px;
  }
  @media screen and(max-width:1140px) {
    width: 100%;
  }
}
.footer-field {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.footer-field input {
  @media screen and(min-width:1140px) {
    width: 358px;
    margin-right: 12px;
  }
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}
.footer-field {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $alternative-textcolor;
}
.mailing {
  margin-bottom: 20px;
}
// ------subscribe button footer------
.footer-btn {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;

  height: 50px;
  min-width: 220px;

  color: $alternative-textcolor;
  background: $accent-color;
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  @media screen and(max-width:1140px) {
    margin-top: 20px;
  }
  @media screen and(min-width:1140px) {
  }
}

.footer-btn::after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/send.svg);

  background-size: contain;
}
