// -------NAV POSTIONING-----

.contacts {
  display: flex;
  flex-direction: column;
  @media screen and(min-width: 768px) {
    margin-left: 80px;
    padding: 16px 0;
  }
  @media screen and(min-width: 1140px) {
    flex-direction: row;
    margin-left: 305px;
    padding: 32px 0;
    align-items: baseline;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  @media screen and(max-width: 768px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and(min-width: 768px) {
    margin-right: 85px;
    padding: 16px 0;
  }
  @media screen and(min-width: 1140px) {
  }
}
.header-icon-size {
  width: 160px;
  height: 30px;
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  &-link {
    position: relative;

    display: inline-block;

    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-link:hover {
    color: $accent-color;
  }
  @media screen and(min-width: 768px) {
    display: flex;
  }
}
.nav-item + .nav-item {
  @media screen and(min-width: 768px) {
    margin-left: 50px;
  }
}

// --------------------CURRENT LINK UNDERLINE-------------------
.current-link::after {
  content: "";
  display: flex;

  position: absolute;
  left: 0px;
  top: 40px;

  transform: translateY(900%);

  height: 4px;
  width: 100%;

  background: $accent-color;
  border-radius: 2px;
}
.current-link {
  color: $accent-color;
}

// --------MENU CONTAINER----------
.menu-container {
  z-index: 7;
  @media screen and(max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
  }
  background-color: $bcg-color;
  text-align: center;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;

  letter-spacing: 0.02em;

  &.is-open {
    display: block;
  }
}

// -------CLOSING CROSS ON BURGER-------
.menu-button .icon-closeburger {
  display: none;
}
// --------ADD VISIBILITY TO CROSS ICON WHILE MENU OPEN------------
.menu-button.is-open .icon-closeburger {
  display: block;
}
// ----HIDDING CROSS WHILE MENU IS CLOSED----
.menu-button.is-open .icon-burger {
  display: none;
}
// -----------SEPARATIONG ON BOTH SIDES MOBMENU AND LOGO----------------
.navigation-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and(max-width: 767px) {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }
  @media screen and(min-width: 768px) {
    max-width: 768px;
    display: flex;
  }
  @media screen and(min-width: 1140px) {
    min-width: 1200px;
  }
}
.navcontacts-container {
  @media screen and(min-width: 768px) {
    display: flex;
  }
}
// -----MOBILE MENU BUTTON DEXORATING---------
.menu-button {
  &:hover,
  &:active {
    fill: $accent-color;
  }
  border: none;
  background-color: transparent;
  @media screen and(min-width: 768px) {
    display: none;
  }
}

// ---------MOB MENU ICON SIZE------------
.mob-menuicon {
  height: 40px;
  width: 40px;
}

// ----------------HEADER UNDERLINE---------------------------
header {
  border: 1px solid #ececec;
  position: relative;
}
// ----------------------
// -----------------------EMAIL----------------------------
.email {
  &-style {
    @media screen and(max-width: 1140px) {
      margin-bottom: 10px;
    }
    @media screen and(min-width: 767px) {
      display: inline-flex;
    }
    @media screen and(min-width: 1140px) {
      margin-right: 30px;
    }

    color: $secondary-textcolor;
    fill: $secondary-textcolor;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-style:hover,
  &-style:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  &-text {
    margin-left: 8px;
    font-style: normal;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    @media screen and(max-width: 767px) {
      display: inline-block;
      margin-bottom: 16px;
    }
  }
}
// -------------------PHONE NUMBER------------------------------
.phonenumber {
  &-style {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  &-style {
    color: $secondary-textcolor;
    fill: $secondary-textcolor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-style:focus,
  &-style:hover {
    color: $accent-color;
    fill: $accent-color;
  }
}
